

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<div class="container text-center">
Hey Please feel free to go ahead to explore my roles and responsibility below:-
<br>
<br>
<br>
<div class="container text-center">
<b>Responsibilities</b>
<p>
Renowned Web Developer with over 5 years of successful
experience in bringing exceptional abilities for competitor analysis,
Django framework. Performer in
RESTAPI's, Python. Successful at promotion
of company advancements and boosting Client performance.
Consistent at reaching revenue targets through leveraging of development
and production of well-executed recommendations.
</p>
<b>Senior Data Analytics Engineer (Google -
Finance)
Accenture, Bangalore, Karnataka</b>
<br>
<b>Finance - Operations Effectiveness - Google.<b>
<li>
Responsible for BI related tasks from various
accounts in Google.</li>
<li>Worked on Google App scripting and Apex.
<li>Data cleansing/Maintenance was handled as per
Google standards.</li>
Google Dashboard was used for any visualization.
<li>Python Coding standard was maintained as per
Google guidelines.</li>
<li>Various Python Libraries were being used in order to
fetch - transform - Analyze - Visualize purpose.</li>
<li>Written API's within Python in order to have
communication with Google Dashboard and Python
Libraries.</li>
<li>Manage IT resources at scale, both for physical
machines and virtual machines in cloud.</li>
<li>Daily client Interaction with meetings and bug fixes
on spot.</li>
<li>Deployed on Client site, Exposure working with
Google Stack technologies extensively.</li>
<li>Google Apps Scripting and PLX have been used for
implementing various solutions.</li>
<li>End to end deployment on Google cloud.</li>
<li>Responsibility includes maintaining code with Google Standards</li>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>



<div class= container text-right>
<b>Current Address:- Bengaluru, KA, 560102
<br>Phone 7406944407
<br>E-mail reachout2shivam@gmail.com</b>
</div>


</div>