 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<div class="container text-center">
Please type your improvements here, I would be happy 
to receive your inputs in order to make this site more valuable and informative
<br>
<br>
<br>
<textarea name="comment" form="usrform">Please comment here..</textarea>
<form action="submit.html">
<input type="submit" value="Submit">
</form>
</div>